<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en-US" }}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="assets/avatar.png">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/theme.css">
    <link rel="stylesheet" href="assets/css/markup.css">
    <link rel="stylesheet" href="assets/css/nav.css">
    <link rel="stylesheet" href="assets/css/other.css">
    <title>Cherry's Qualia Space</title>
</head>

<body class="flex">
    <header class="titlePane bar rem2-3 loadBG" id=$titlePane>
        <h1>
            <a href="{{ " /" | absolute_url }}">
                <img class="item icon avatar" src="assets/avatar.png" height="100" width="100">
                <span class="entity-title pre textItem">{{ site.title }}</span>
            </a>
        </h1>
        <nav>
            <a target="_blank" href="https://github.com/ilovecherries">github</a>
            <a target="_blank" href="https://kland.iadorecherries.com">kland</a>
            <a target="_blank" href="https://pbox.iadorecherries.com">pBox</a>
            <a target="_blank" href="https://twitter.com/iadorecherries">twitter</a>
        </nav>
    </header>
    <main-scrollable class="flex grow">
        <div class="container pageContents userPageContents markup-root">{{ content }}</div>
    </main-scrollable>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js"
        integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
</body>

</html>